

a:link, a:visited, a:active {
    text-decoration:none;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html {
    height: 100%;
}

/* body {
    font-size: 20px;
    /* padding: 90px 20px 0; 
    font-family: 'Dancing Script', cursive;
    min-height: 100%;
   
} */

header {
    background-color: #2c3e50;
    height: 80px;
    position: fixed; /*Esto es para que la barra de navegacion quede arriba*/
    width: 100%;
    top: 0;
    left:0;
   
}

/******************** BARRA DE NAVEGACION FLEX RESPONSIVE *******************/

.nav {
    display: flex;
    justify-content: space-between;

    max-width: 992px; /*numero especial seleccionado*/
    margin: 0 auto;
}

.nav-link {
    color: white;
    font-size: x-large;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px; /*El logo queda centrado, le ponemos 80px como la altura del header*/
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none; /*Se eliminan los puntitos de la lista*/

}

.nav-menu-item {
    font-size: 18px;
    margin: 0px 10px 15px 10px;
    line-height: 80px;
    width: max-content; /*Le decimos que no nos corte el contenido*/
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    background-color: rgb(37, 37, 134) ;
    transition: .5s;

}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px; /*el tamaño igual que el Logo*/
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none; /*No queremos que se ve en dispo. de escritorio*/

}


@media (max-width: 600px) {
    body {
        padding-top: 70px;
    }
    
    .header {
  
        height: 60px;
    }

    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left .3s;
    }
    
    .nav-menu-item {
        line-height: 70px;
       
    }
    
    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #83c5f7;
    
    }
    
    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {  /*Para que este visible el menu de navegación*/
        left: 0;       
    }
}

.cont1 img {
  
    width: 500px;
    border-radius: 5%;
    
}

.img-nosotros {
    width: 50%;
    border-radius: 5.5em;
    margin-top: 5%;
}



h3 {
    margin: auto;
    margin-top: 15px;
    margin-right: 100px;
    padding-left: 45%;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
}


 
 
 p {
    font-family: 'Dancing Script', cursive;
    color: green ;
    font-size: large;
    text-align: left;
    padding: 20px;
} 

 


.img-local {
    width: 450px;
    height: 350px;
    border-radius: 1em;
}



.h2 {
    text-align: center ;
    font-family: 'Lobster', cursive;
    font-size: 15mm ;
    margin: 100px;
    padding-left: -12px;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    color:rgb(159, 209, 159);
  
}

.h2-nosotros {
    text-align: center ;
    margin-top: 20px;
    font-size: 15mm ;
    color:rgb(159, 209, 159);
}

.p-nosotros {
    text-align: left;
}

form {
    background-color: #6e8592e0;
    padding: 30px;
    width: 47%;
    margin-bottom: 50px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 1em;
    align-content: center;
}

input, textarea {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    resize: none;
}



iframe {
    
    width: 45%;
    display: inline-block;
    border-radius: 1em;
}

/* footer {
   position: relative;
    background-color: #1d4b86; 
} */

.links {       /*links del footer*/
    width: 50%;
    text-align: left;
    display: inline-block;
}




.grid-container > * {
        box-shadow: -1px 1px 7px 0px rgb(3, 78, 41);
        border-radius: 4px;
        padding: 25px;
        margin: 10px;
        text-align: center;
    }
    
.form {
    grid-area: form;
    width: auto;
    }
.enlace {
    grid-area: enlace;
    width: 90%;
    }

  
footer {
    width: 100%;
    
    background: #03380194;
    color: white;

    }

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin-top: 7%;
    padding: 40px;
    line-height: px;
    
    }
    
.foot {
        display: flex;
        justify-content: space-between;
        ;

    }

.column1 {
    max-width: 400px;
    
}

.column1 h1 {
    font-size: 22px;
}

.column1 p {
    font-size: 20px;
    color: #C7C7C7;
    margin-top: 20px;
}

.column2 {
    max-width: 400px;
}
.column2 h1 {
    font-size: 22px;
}
.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 15px;
    color: #C7C7C7;
}

.column3 {
    max-width: 400px;
}
.column3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 15px;
    max-width: 160px;
    color: #C7C7C7;
}

.container-footer {
    width: 100%;
    background-color: #101010;
   
}

.footer {
    max-width: 1200px;
    margin:auto;
    display: flex ;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #C7C7C7;
}

.information {
    text-decoration: none;
}
.information a {
    text-decoration: none;
    color: white;

}


@media screen and (max-width: 1100px){

    .foot{
        flex-wrap: wrap;
    }
    .column1{
        max-width: 100%;
    }
    .column2,
    .column3{
        margin-top: 40px;
    }
}



.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "form form form enlace enlace enlace";
        }

        /* ACA ABAJO EMPIEZA EL CORTE PARA TABLET  */

@media (max-width: 778px) {
    .grid-container {
        grid-template-areas: 
            "form form form"
            "enlace enlace enlace";
        }
    .logo {
        font-size: 18px;
        padding: 0 20px;
        line-height: 60px;
        }
    }

body {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    font-family: 'Dancing Script', cursive;
    width: 100%;
}

.titulo {
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.galeria img {
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
    border-radius: 15px;
    width: 250px;
    height: 150px;
    margin-bottom: 20px;
}




