
a:link, a:visited, a:active {
    text-decoration:none;
}




.body {
    padding: 3%;
    background-color: azure;
}


.contenedor {
    font-family: 'Dancing Script', cursive;
    font-size: x-large ;
    
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: -50px;
    width: 90%;
    
}

.inicio {
        background-color: rgb(159, 209, 159);
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 57px;
        float: left;
        position: relative;
        width: 5%;
        border: 2px solid rgb(106, 168, 106);
        height: auto;
        border-radius: 1em;
    
    
}

.local {
    background-color: rgb(159, 209, 159);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: -3px;
    padding-right: -3px;
    margin-left: 15px;
    position: relative;
    float: left;
    width: 7%;
    border: 2px solid rgb(106, 168, 106);
    height: auto;
    border-radius: 5em;
    
}

.img-local {
    width: 50%;
}


.lista-plantas {
    background-color: rgb(159, 209, 159);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right:5px;
    padding-left: 5px;
    margin-left: 15px;
    position: relative;
    float: left;
    width: 7%;
    border: 2px solid rgb(106, 168, 106);
    height: auto;
    width: auto;
    border-radius: 5em;
}

img {
    width: 50%;
    border-radius: 5%;
   
}
 .img-lista-plantas {
     width: 500px;
     height: 200px;
     margin-right: 50%;
 }



h3 {
   margin: auto;
   margin-top: 15px;
   margin-right: 100px;
   padding-left: 45%;
   font-size: 2em;
   font-family: 'Dancing Script', cursive;

   
}

.h2 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 15mm ;
    margin: 20px;
    padding-left: 0px;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    color:rgb(159, 209, 159);
}

.contacto {
    background-color: rgb(159, 209, 159);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
    position: relative;
    float: left;
    width: 7%;
    border: 2px solid rgb(106, 168, 106);
    height: auto;
    border-radius: 5em;
}

.ubicacion {
    float: right;
}

.form {
    display: block;

}

p {
    font-family: 'Indie Flower', cursive;
    color: green ;
    font-size: large;
}


.links {
    width: 50%;
    text-align: left;
    display: inline-block;
}

footer {
    

}

.foot {
   
}

.cont  {
    width: 500px;
    border: 2px solid grey;
    border-radius: 0.5em;
}

.cont img {
 
    float: left;
    width: 250px;
    margin-right: 15px;
    padding-left: 3px;
    
}

.cont p {
    margin-left: 5px;
}

